#topic{
    font-weight: bold;
    color: cornsilk;
    background-color:darkcyan;
}
#slogan{
    background-color:mediumslateblue;
    font-weight: lighter;
    color: cornsilk;
}
#sg1bg{
    background-color:darkcyan;
    height: 90vh;
    font-weight: bold;
    padding: 0px;
}
#sg2bg{
    background-color:mediumslateblue;
    padding: 0px;
}
#spacing{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
.styrow{
    padding: 5px;
    background-color: crimson;
    margin-top: 2px !important;
    margin-left: 0px !important;
}

#section-category{
    height: 60vh;
    padding: 20px;
}
#section-subcategory{
    height: 30vh;
    font-weight: bold;
    background-color:darkcyan;
    padding: 20px;
}
#bill{
    height: 70vh;
}
#total{
    background-color:mediumslateblue;
    height: 20vh;
}